APP_NAME="Marc's Movies"
APP_ENV=local
APP_KEY=base64:XgFLeSZjSj+XR62wNQmJypDtvgQ+BE4Wq0QmtrsnVhw=
APP_DEBUG=true
APP_URL=http://movies.hershey.co

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=movies
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

RADARR_SERVER='http://xxx'
RADARR_PORT='7878'
RADARR_APIKEY='xxx'
RADARR_DEFAULT_QUALITY_ID=6
RADARR_DEFAULT_PROFILE_ID=6
RADARR_DEFAULT_PATH='xxx'

TMDB_URL='https://api.themoviedb.org'
TMDB_VERSION='3'
TMDB_APIKEY='xxx'
